.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 50px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.75rem;
  height: 100%;
}

.project-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.folder-icon svg {
  width: 40px;
  height: 40px;
}

.project-links a {
  padding: 5px;
}

.project-links svg {
  width: 22px;
  height: 22px;
  transition: transform 0.3s ease;
}

.project-links a:hover svg {
  transform: translateY(-3px);
  stroke: var(--accent-color);
}

.project-title {
  font-size: 1.4rem;
  color: var(--text-heading);
  margin-bottom: 1rem;
}

.project-description {
  color: var(--text-main);
  font-size: 1rem;
  margin-bottom: 2rem;
  flex-grow: 1;
}

.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.project-tech-list li {
  font-family: var(--font-heading);
  font-size: 0.85rem;
  color: #8892b0;
}
